 Node modules
node_modules/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Entorno local
.env

# Carpeta de builds o dist si existiera
dist/
build/
partidos.json
partidos_ed.json
planteles_asistencia.json
planteles.json
logs/
users.js
testhhtp/